@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#f8f9fb] text-gray-900;
  font-family: 'Poppins', sans-serif;
}

* {
 /* ya scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge purane versions */
}

::-webkit-scrollbar, 
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.subtle-star-pattern {
  background-color: #ffffff;
  background-image: radial-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 0);
  background-size: 30px 30px;
  background-attachment: fixed;
}